html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

header {
  background-color: rgb(31, 50, 85);
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.icon {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 32px;
  margin-left: 1rem;
  padding: 4px;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  color: rgb(31, 50, 85);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

main {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 1rem;
}

button,
input[type="submit"] {
  background-color: rgb(31, 50, 85);
  color: white;
  margin: 0.5rem;
  border: none;
  font-size: 13px;
  font-weight: 700;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  button,
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

button:hover:not(:disabled),
button.pressed,
input[type="submit"]:hover:not(:disabled),
input.pressed {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  background-color: rgb(70, 130, 179);
}

button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

li {
  float: left;
  list-style-type: none;
}
